<html>
  <head>
    <style type="text/css">
      body {
        background-image: url(/images/obama.png);
        font-family: Helvetica;
        font-size: 16px;
      }
      #main {
        margin: 100px;
        background: black;
        color: white;
        opacity: 0.95;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
