In the heat of a Mumbai afternoon, the prole sits down to create a new blog engine? Why - because he can. Armed with the ruby programming language and inspiration from projects like Tom Preston-Warner's <a href="http://github.com/mojombo/jekyll">Jekyll</a>, the prole decides he too would like to be like those cool kids who host their blog on github. Enter blur, the sinatra-based, minimal blog engine.

<a href="http://github.com/svs/blur">http://github.com/mojombo/jekyll</a>