h1. A new  blog is born

In the heat of a winter Mumbai afternoon, the prole sits down to create a new blog engine? Why? Not just because he can but also because existing blog engines are too fancy. Not proletarian enough. Substance over form and all that. Armed with the ruby programming language and inspiration from projects like Tom Preston-Warner's <a href="http://github.com/mojombo/jekyll">Jekyll</a>, the prole decides he too would like to be like those cool kids who host their blog on github. Enter <a href="http://github.com/svs/blu.rb">blu.rb</a>, the sinatra-based, minimal blog engine.

Blu.rb (it's "blurb", not "blue dot aar bee") will publish any file under the views/posts directory in the blog index. Adding a .erb extension will give the post the layout in views/layout.rb (please read some Sinatra documentation. Blu.rb is simply a Sinatra app). With no extension, you are free to provide any arbitrary html code. This will hopefully be helpful to designers and other cool people who craft blog posts not just with words but also with pictures and css. Of course, this means that adding disqus comments and closing html tags becomes your responsibility

*Installation*
<pre>
$ git clone git://github.com/svs/blu.rb
$ git clone git://github.com/your/blog views/posts
$ ruby blu.rb # or check the config.ru for how to run it behind passenger
</pre>
Adding a post-commit hook to your blog repo on github to hit http://yoursite.com/update_blog will refresh the git repository in views/posts. Thus, simply commiting your blog repo will update your website. Blu.rb also publishes an RSS feed at http://yoursite.com/feed

You can check it out from here: "http://github.com/svs/blu.rb":http://github.com/svs/blu.rb

