<h1>A new  blog is born</h1>
<p>
In the heat of a Mumbai afternoon, the prole sits down to create a new blog engine? Why? Not just because he can but also because existing blog engines are too fancy. Not proletarian enough. Substance over form and all that. Armed with the ruby programming language and inspiration from projects like Tom Preston-Warner's <a href="http://github.com/mojombo/jekyll">Jekyll</a>, the prole decides he too would like to be like those cool kids who host their blog on github. Enter blu.rb, the sinatra-based, minimal blog engine.
</p>
<p>
Blu.rb (it's "blurb", not "blue dot aar bee") will publish any file under the views/posts directory in the blog index. Adding a .erb extension will give the post the layout in views/layout.rb (please read some Sinatra documentation. Blu.rb is simply a Sinatra app). With no extension, you are free to provide any arbitrary html code.<br>
Adding a post-commit hook to github to hit http://yoursite.com/update_blog will refresh the git repository in views/posts. Thus, simply commiting your blog repo will update your website.
</p>
<p>
you can check it out from here: <a href="http://github.com/svs/blu.rb">http://github.com/svs/blu.rb</a>
