<h1>Wither Bollywood </h1>
A venerable institution of Mumbai is moribund. Bollywood lies gasping in a shallow puddle of its own ineptitude. When my wife - a dedicated follower of Bollywood - suddenly started skipping films, I realised something was horribly wrong. It all started, in my estimation, with the producer's strike. Whatever the reasons, the strike has contributed significantly to this state of affairs. It made people realise that they could live without movies, and perhaps that their life might even be better for it. The extra Rs. 1000 a week was probably being deployed elsewhere at better bang for buck. 

Bollywood chose to end the strike with a choice that destroyed it. The first film after the strike was "Kal Kisne Dekha" starring newcomer Jackie Bhagnani , a most cynical choice of film. The film community could at this point shown that it really cared about it's audience and released a big starrer to draw the crowds back. Instead, the MBAs walking the corridors of power in Bollywood today counted up the beans and decided that no, we lead with a flop - that way New York will seem better than it actually is. This choice was fatal.

Here are some pictures I took at PVR a few weeks ago, and one of Fun Republic today. These are of course isolated incidents and I present them as indications rather than proof of a crisis. Judge for yourself from your own experience.

<%= image_tag "fun republic.jpg", :width => "49%", :style => "float:left" %><% Dir.entries("public/images").select{|n| n.match(/pvr/)}.each do |i| %><%= image_tag i, :width => "49%", :style => "float:left" %><% end %>

<p>
Those of you who wish to find the reason for this mess need look no further than the Twitter account of a young man charged with finding and making the next great film.

"<%= image_tag "twitter.png", :width => "450px"%>":/images/twitter.png

Happy Puppy Day, Lara Dutta?


This is what happens when you deny the proles a decent education. You end up with a nation that has no way to entertain itself, let alone achieve anything else. Reading Rajni Bakhi's new book "Bazaar, Conversations and Freedom" (a more detailed review once I finish it), I learnt an interesting fact. The author of England's blueprint for the welfare state said that it was imperative to provide the minimum to everyone because without it, the nation would fall prey to, among other things, idleness. This is interesting because the conventional view is that giving things to people for free breeds idleness, atleast according to the capitalists. However, a cursory glance at what drivers do during their massive waitings everyday easily confirms Lord Beveredge's thesis - a person without education can do nought but be idle. Only education enables him to become productive.
