<h1>Ben Bernanke - time Magazine Person of the Year 2009</h1>
Wow, can you believe it? After Barack Obama talking war while receiving the Peace Prize, we get this - Ben Bernanke is 2009's Person of the Year. I's over folks - the Bilderberger Group now has complete control of the Earth's destiny and they just don't give a shit any more about the "optics" of what they do. It might seem as though the shadowy cartels that run the world are purposely trying to incite the people to violence, for whatever reason.

Here's an amazing quote from Time - "It is an independent government agency that conducts monetary policy". Hmm...what is an independent government agency? One that is owned by the private banks it regulates? From Wikipedia -
<blockquote>"The Federal Reserve System is an independent government institution that has private aspects. The System is not a private organization and does not operate for the purpose of making a profit.[51] The stocks of the regional federal reserve banks are owned by the banks operating within that region and which are part of the system."</blockquote>
It is so independent that no one has the authority to audit it? It is so independent that no one has the balls to shut it down. It is the master bank of all the banks and we know how unscrupulous banks can be. Ben Bernanke - it must be nice to be chairman. All the dollars in the world, and Time magazine's award as well.

Did someone notice that the American economy is F-U-C-K-E-D, and the whole world's financial system is on the verge of collapse and that managing these affairs is Ben Bernanke's job. Saying that it would have been much worse without him is akin to giving the captain of the Titanic an award for deploying the lifeboats. Errr...a little perspective here guys? And what's next? Lloyd Blankfein for Pope?

Anyways, this is the end of the mass media. the proletarian's revulsion for this kind of self-aggrandising, quid-pro-quo, media-bank-corporate-politcs nexus is maxed out. Time to switch off the TV, burn the newspapers and start reading blogs.

