%html{ html_attrs("en_us") }
  %head
    %title
      rbus.in
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/css/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
  %body
    #container
      #header-container
      #menu
        %a{:href => "/"}
          %img{:src => '/images/rbus-logo.png', :border => "0px", :id => "logo"}
        %span.small#nav
          %a{:href => "/"}
            home
          %a{:href => "/profile"}
            profile
          %a{:href => "/trips"}
            trips


      #main-container
        - message = {}
        - if message
          #messages
            - message.each do |key,value|
              .flash{:class => key.to_s}
                =value
                %br
        %h1{:style => 'position: relative; left: 750px; top: 30px; background: #540022; padding: 10px 10px 10px 70px; -moz-border-radius: 7px; border-radius: 7px;  width: 150px; z-index: 10;'} 
          %a{:href => "/blog", :style => "color:white"}
            blog
        - if false
          #main
            %h2 
            #faq
              = yield
        - else
          #inner_main{:style => 'position: relative; top: -105px;'}
            #faq
              = yield
              - if request.path_info.match(/blog\/+/)
                :plain
                  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/prole/embed.js"></script><noscript><a href="http://disqus.com/forums/prole/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

        
      #news
        :plain
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
               <script>
                 new TWTR.Widget({
                 version: 2,
                 type: 'profile',
                 rpp: 4,
                 interval: 6000,
                 width: 250,
                 height: 300,
                 theme: {
                   shell: {
                     background: '#333333',
                     color: '#ffffff'
                   },
                   tweets: {
                     background: '#000000',
                     color: '#ffffff',
                     links: '#4aed05'
                   }
                 },
                features: {
                  scrollbar: false,
                  loop: false,
                  live: false,
                  hashtags: true,
                  timestamp: true,
                  avatars: true,
                  behavior: 'all'
                }
              }).render().setUser('rbus_in').start();
            </script>
      :plain
        <script type="text/javascript">
        //<![CDATA[
        (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/prole/get_num_replies.js' + query + '"></' + 'script>');
        })();
        //]]>
        </script>



            