<h1>Lars von Trier should not make films</h1>

I actually don't mean that in a bad way. It's just that the film medium is wasted on him. Dogville might have been a great critical success but some actors on a stage is not really a film. Yes, it is projected at 24 fps but the art is not that of making a film. A few dark locations, completely artificial places and claustrophobic situations are the mainstay of his newest, Antichrist.

The situation is so terribly cliched that from the very start, art is impossible. A couple whose child has died from falling out the window while they were having sex. Perhaps the poor infant had been driven mad by the sheer mediocrity of the background score. How can you come back from that unless your intention was to make a melodrama? Extreme melodrama, gratuitous violence and sado-masochistic sex make up the rest of the film, coupled with dialogue that is so boring it had all to be shot in extreme close-up.

First of all, politically this film is a complete failure. If all you have to say is that there is violence in the world then you are not really doing anyone any favours. Everybody knows this. What the people need to know is that there is something called humanity. Shots of an eagle eating a dead chick are not edifying in any way. Another seminal scene is the one where a tumescent penis ejaculates blood. Another has a dead chick being crawled over by ants.  Infact, it is precisely this sort of shitty glorification of viollence that is at this point completely out of synch with the times. Our species knows well enough how to hate. What it needs is a new mythology based on love.

How different this film was from Stalker. While watching the interminable film on fast forward, I got to thinking about Stalker. Imagine my surprise when the end credits start with "Dedicated to Andrey Tarkovsky". Wow...is that all you learned from him...? How to light some scenes? Stalker is poetry because you can see that the director is so confident on his canvas that he can make each frame speak. He can imbue anything with a quality of his choice as he paints emotions on the screen. Antichrist has no canvas. Anonymous places, tight framing and dialogues full of sobbing are all that pass for emotion in this film. That is what I have been saying all along - this is not a film. It has no weltanschuung. It has no zeitgeist.


