<h1>
"BEST's new buses won't hit the roads anytime soon":http://www.hindustantimes.com/rssfeed/mumbai/BEST-s-250-new-buses-won-t-hit-the-roads-anytime-soon/Article1-496823.aspx
</h1>

According to the Hindustan Times, there are "250 buses with the BEST with no routes to ply":http://www.hindustantimes.com/rssfeed/mumbai/BEST-s-250-new-buses-won-t-hit-the-roads-anytime-soon/Article1-496823.aspx. They were ordered to be part of the BRTS system, but since the BRTS system hasn't even been piloted as yet, the buses are just lying in the depot and rusting. This presents a great opportunity for rbus, as if we can get enough people to sign up, then we can find where the maximum demand for routes is and we can perhaps persuade BEST to ply these routes according to the wishes of rbussers.


Do "sign up":/trips/new today and add your voice to the conversation. Do also spread the word, as the more signups we have, the better our chances of achieving something.

