%h1 Welcome to Rbus.in

%p
  Hello and welcome to rbus.in, an open source community platform for commuters in Mumbai. The basic goal of rbus.in is to provide commuters with the tools they need to organise viable mechanisms to commute. The emphasis will be on organising shared transportation in the form of buses using this site as an intermediation tool.

%p
  We will soon be launching a discussion board to better arrive at a sense of what is required to be done. If you are a Mumbai commuter, do support rbus.in by registering your commute details and participating in the forums when they are launched. Do also subscribe to this blog at its "RSS Feed":http://rbus.in/feed or follow us on "Twitter":http://twitter.com/rbus_in

